
.ai-recruiter-wrapper {
	position: relative;
	width: 200px;
	height: 200px;
}
.ai-recruiter-wrapper .circle{
	position: absolute;
	top: 50%;
  left: 50%;
	height: 120px;
	width: 120px;
	margin-top: -60px;
	margin-left: -60px;
	z-index: 1;
}
.ai-recruiter{
	top: 0;
  left: 0;
	z-index: 0;
	width: 200px;
	height: 200px;
}
.ai-recruiter svg {
  height: 100%;
	width: 100%;
}

.ai-recruiter-wrapper svg g {
  transform-origin: center;
  transform-box: fill-box;
}

.ai-recruiter-wrapper #a {
  animation: clockwise 8s linear infinite;

}

.ai-recruiter-wrapper #b {
  animation: clockwise 10s linear infinite;
}

.ai-recruiter-wrapper #d {
  animation: clockwise 12s linear infinite;
}

.ai-recruiter-wrapper #f {
  animation: clockwise 9s linear infinite;
}

.ai-recruiter-wrapper #c {
  animation: anticlockwise 9s linear infinite;
}

.ai-recruiter-wrapper #e {
  animation: anticlockwise 11s linear infinite;
}


/* for 0 to 360deg rotation */
@keyframes clockwise {
  from {
    transform: rotatez(0deg);

  }

  to {
    transform: rotatez(360deg);
  }
}

/* for 0 to -360deg rotation */
@keyframes anticlockwise {
  from {
    transform: rotatez(0deg);

  }

  to {
    transform: rotatez(-360deg);
  }
}

@media only screen and (max-width: 992px) {
	.interview-page .ai-recruiter-wrapper {
		position: fixed !important;
		left: 20% !important;
		margin-top: -100px !important;
	}
	.go-back-btn {
    left: 20px !important;
	}
}

@media only screen and (max-width: 768px) {
  .ai-recruiter-wrapper {
		position: fixed;
		width: 100px;
		height: 100px;
		top: 0;
		right: 0;
	}
	.interview-page .ai-recruiter-wrapper {
		left: auto !important;
		top: 0 !important;
		margin-top: 0 !important;
		right: 0;
		z-index: 100;
	}
	.ai-recruiter-wrapper .circle {
		height: 60px;
		width: 60px;
		margin-top: -30px;
		margin-left: -30px;
		border: 2px solid #878af2;
		border-radius: 50px;
	}
	.ai-recruiter{
		width: 100px;
		height: 100px;
		display: none;
	}
	.chat-wrapper {
    height: 100% !important;
		width: 100%;
    margin-top: 0 !important;
		padding-bottom: 25px;
    padding-left: 50px;
	}
	.mic-input {
    position: static !important;
    transform: none !important;
	}
}
@media only screen and (max-width: 440px) {
  .chat-wrapper {
    padding-left: 20px;
		padding-right: 20px !important;
	}
}